{% extends 'layout.html.j2' %}

{% block metadata %}
strategy: blog
{% endblock %}

{% block content %}
<section>
    <ol>
        {% for post in blog.list_posts() %}
        <li>
            <a href="{{ post.name }}">{{ post.name }}</a>
            <small>{{ post.metadata.tags|join(', ') }}</small>
        </li>
        {% endfor %}
    </ol>
</section>
{% endblock %}