<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}title{% endblock %}</title>
    </head>
    <body>
        <header>
            {% block header %}header{% endblock %}
        </header>
        {% block content %}content{% endblock %}
        <footer>
            {% block footer %}footer{% endblock %}
        </footer>
    </body>
</html>