{% macro post_link(post) -%}
    <a href="{{ post }}">{{ post }}</a>
{%- endmacro %}

{% macro tag_link(tag) -%}
    <a href="tags.html#tag-{{ tag }}">{{ tag }}</a>
{%- endmacro %}

{% macro tag_links(tags) -%}
    {% set comma = joiner(",") %}
    {% for tag in tags -%}
        {{ comma() }}
        {{ tag_link(tag) }}
    {%- endfor %}
{%- endmacro %}
