{% macro post_date(post) -%}
    📅 {{ post.metadata.pubdate.strftime('%Y-%m-%d') }}
{%- endmacro %}

{% macro post_link(post) -%}
    <a href="{{ post.name }}">{{ post.metadata.title }}</a>
{%- endmacro %}

{% macro post_tags(post) -%}
    🏷 {{ tag_links(post.metadata.tags) }}
{%- endmacro %}

{% macro post_header(post) -%}
    <h1>{{ post.metadata.title }}</h1>
    <p>
        Written on {{ post.metadata.pubdate.strftime('%-d %B %Y') }}. Tagged with {{ tag_links(post.metadata.tags) }}.
    </p>
{%- endmacro %}

{% macro post_footer(post) -%}
    <p>
        Post <a href="https://github.com/trompette/blog/blob/master/posts/{{ post.name }}.j2">source code</a> is
        available, feel free to contribute.
    </p>
{%- endmacro %}

{% macro tag_links(tags) -%}
    {% set comma = joiner(",") %}
    {% for tag in tags -%}
        {{ comma() }}
        <a href="tags.html#tag-{{ tag }}">{{ tag }}</a>
    {%- endfor %}
{%- endmacro %}
