{% extends 'post.html.j2' %}

{% block metadata %}
tags: [dev, sid, sf2]
{% endblock %}

{% block article %}
<h1>
    Setting up a Symfony2 development environment on Debian Unstable
</h1>
<p>
    First of all, you need to install some PHP packages:
    {% highlight 'shell-session' %}
        aptitude install php5-cli php5-curl php5-intl php5-sqlite php-pear
    {% endhighlight %}
</p>
<p>
    Then follow the guide provided by Symfony2's community:
    <ol>
        <li>
            <a href="http://symfony.com/doc/2.0/contributing/code/patches.html">Submitting a Patch</a>
        </li>
        <li>
            <a href="http://symfony.com/doc/2.0/contributing/code/tests.html">Running Symfony2 Tests</a>
        </li>
    </ol>
</p>
<p>
    And it is all there is to it. Now you can contribute!
</p>
{% endblock %}
