body {
    background: #fff;
    color: rgb(24, 71, 93);
    font-family: "Dejavu Sans", sans-serif;
    font-size: x-large;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: rgb(24, 71, 93);
    text-decoration: underline;
}

pre, tt {
    font-family: "Dejavu Sans Mono", monospace;
}

article {
    padding: 0 9% 9%;
}

article footer {
    border-top: 1px solid rgb(24, 71, 93);
    margin-top: 3em;
}

article header p,
article footer p {
    font-style: italic;
}

nav {
    background: rgb(24, 71, 93);
    color: rgb(174, 225, 224);
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 4%;
}

nav section {
    flex: 1;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
}

nav footer {
    text-align: center;
}

nav a, nav a:hover {
    color: rgb(174, 225, 224);
}

@media (min-width: 1025px) {
    article {
        margin-right: 33%;
        padding-bottom: 0;
    }

    nav {
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 25%;
    }

    nav ul {
        padding-left: 2em;
    }

    nav li {
        display: list-item;
    }
}
